@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --color-white: #ECF0F3;

    --color-primary: #FF014F;

    --color-text-primary: var(--color-primary);

    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'Montserrat';
}

@layer components {
    .h1 {
        @apply text-5xl font-extrabold w-full text-center font-mono;
    }
}
